*{
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size:18px;
}

body{
width: 100vw;
height: 100vh;
padding: 3px;
}

h1{
  font-size:30px;
}

#about-container{
  font-size:19px;
}

#gardenInfoHeader{
  display: inline-block ;
  /* margin-bottom: 4px; */
  padding: 5px;
  width: 100%;
  position: absolute;
  z-index: 10;
  top: 0px;
  left: 0px;
  /* background-color: aqua; */
}

.map {
  /* Set the map's width and height */
  width: 100vw;
  height: 100vh;
  position:absolute;
  z-index:3;
}

#mapBox{
  position: relative;
  margin: 0px;
  padding: 2px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}


  /* #seedIdPopUpForm-container{
    width: max-content;
    height: max-content;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 10;
    background-color: rgb(255, 127, 246); */
    /* display: none; */
    /* display: block;
  } */


  /* CONTAINERS */


  .flower-container{
    width: 100px;
    height: 100px;
    background-color: rgb(244, 102, 244);
    position: absolute;
    top: 200px;
    left: 200px;
    z-index: 20;
  }

  #diary-container{
    display: block;
    background-color: rgb(174, 169, 172);
    width: 300px;
    height: max-content;
    color: #000000;
  }

  #password-container{
    display: none;
  }

  #archive-container{
    display: block;
    background-color: rgba(255, 255, 255);
    width: max-content;
    height: max-content;
    color: #000000;
  }

  .mode-container{
    width:min-content;
    margin:2%;
    font-size:1em;
    color:#b1b1b1;
    padding:1%;
  }

  #flowerData-container{
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 10;
      width: 250px;
      flex-wrap:wrap;
      /* background-color: darkkhaki; */
      padding: 5px;
    }

/* DIALOG BOXES : */
  .talkBox{
    background-color: rgba(255, 255, 255);
    width: max-content;
    height: max-content;
  }
  #talkBoxDialog{
    display: none;
  }

  .seedFillForm-dialog{
    height: max-content;
    width: max-content;

  }

/* BUTTONS : */

.buttons{
  /* display: flex; */
  width: 60px;
  text-align: center;
}

  #loginButton{
    display: none;
  }

  #setPasswordButton{
    display: none;
  }
  
  #flowerStatistic-buttons{
    display: none;
  }

#flowerStatisticsContainer{
display: block;
}

/* ELEMENTS */

.single-day-para{
  width:95%;
  margin:2%;
  font-size:1em;
  color:#000000;
  padding:1%;
}

.single-archive-line{
  background-color: rgba(255, 255, 255, 0.9);
  width: max-content;
  height: max-content;
  margin-left:5%;
  padding:1%;
  margin-bottom:2%;
}

.mode-prop{
  width:90%;
  background:rgb(255, 255, 255);
}

.flowerEl{
  top:0px;
  left: 0px;
  color: #000000;
  width: 200px;
  height: 200px;
  position:absolute;
  z-index: 100;
  background: rgba(255, 255, 255, 0);
}

.p5Canvas{
  width: 100%;
  height: 100%;
  position: relative;
  /* background-color: #0099ff; */
}

.flowerHoverEl{
  color: #000000;
  background-color: rgba(255, 255, 255, 0.9);
  width: max-content;
  height: max-content;
  position:absolute;
  z-index: 100;
  display: none;
  padding: auto;
}

.flowerEl:hover + .flowerHoverEl {
  background-color: rgba(255, 255, 255, 0.9);
  width: max-content;
  height: max-content;
  display: block;
  padding: 0.2px;
  /* z-index: 1; */

  /* background-color: red; */


}

#back{display:flex;flex-wrap: wrap;width:100%;padding-left:5%;}
.outer{background-color:#0099ff;width:25%;margin:2%;}
.content{background-color:#006bb3;width:100%;}
.content p{color:white;padding:2%;background:#004d80;font-family:arial;}

#archives{
  background-color: rgb(228, 132, 183);
  width: 300px;
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) 
  and (orientation : portrait) { 
    *{
      margin: 0;
      padding: 0;
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size:40px;
  }
    h1{
      font-size:50px;
      /* background-color: #006bb3; */
    }
    .talkBox{
      background-color: rgba(255, 255, 255);
      width: max-content;
      height: max-content;
      top: 450px;
      left: 600px;
    }

    .seedFillForm-dialog{
      /* height: 200px; */
      width: 600px;
      top: 450px;
      left: 600px;
    } 

    #flowerData-container{
      position: absolute;
      bottom: 0px;
      left: 0px;
      z-index: 10;
        width: 500px;
        flex-wrap:wrap;
        /* background-color: darkkhaki; */
        padding: 5px;
      }
      .buttons{
        /* display: flex; */
        width: auto;
        text-align: center;
      }
}

@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 2) 
  and (orientation : landscape) { 
    *{
      margin: 0;
      padding: 0;
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size:20px;
  }
    h1{
      font-size:30px;
      /* background-color: #18b300; */

    }
    .buttons{
      /* display: flex; */
      width: auto;
      text-align: center;
    }
  }
