*{
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size:small;
}

body{
width: 100vw;
height: 100vh;
}

#buttonOverlayBox{
position: absolute;
margin: 0px;
padding: 2px;
top: 0;
left: 0;
z-index: 0;
}


#mapBox{
    position: relative;
    margin: 0px;
    padding: 2px;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.optionButtons{
    /* display: flex; */
    width: 60px;
    text-align: center;
}

.map {
    /* Set the map's width and height */
    width: 100vw;
    height: 100vh;
    position:absolute;
    z-index:3;
}

#editModeButtons{
    display: none;
}

#flowerData-container{
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 10;
    width: 180px;
    flex-wrap:wrap;
    background-color: darkkhaki;
  }

  .single-day-para{
    width:95%;
    margin:2%;
    font-size:1em;
    color:#000000;
    padding:1%;
  }

  .single-archive-line{
    background:#d9bfd6;
    margin-left:5%;
    padding:1%;
    margin-bottom:2%;
  }
  
  .mode-container{
    width:min-content;
    margin:2%;
    font-size:1em;
    color:#b1b1b1;
    padding:1%;
  }

  .mode-prop{
    width:90%;
    background:rgb(255, 127, 246);
  }

  /* #seedIdPopUpFormContainer{
    width: max-content;
    height: max-content;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 10;
    background-color: rgb(255, 127, 246); */
    /* display: none; */
    /* display: block;
  } */

  /* useless? */
  /* #flower{
    font-size: medium;
    font-style: normal;
  } */

  .flower-container{
    width: 100px;
    height: 100px;
    background-color: rgb(244, 102, 244);
    position: absolute;
    top: 200px;
    left: 200px;
    z-index: 20;
  }

  #diary-container{
    display: block;
    background-color: rgb(174, 169, 172);
    width: 300px;
    height: max-content;
    color: #000000;
  }

  .flowerEl{
    top:0px;
    left: 0px;
    color: #000000;
    width: 100px;
    height: 100px;
    position:absolute;
    z-index: 100;
    background: deeppink;
    
  }

  #archive-container{
    display: block;
    background-color: deeppink;
    width: 375px;
    height: 200px;
    color: #000000;
  }

  #archives{
    background-color: rgb(228, 132, 183);
    width: 300px;
  }

  #titleBar{
    display: inline-block ;
    position: absolute;
    z-index: 10;
    top: 0px;
    left: 0px;
    background-color: aqua;
  }

  .talkBox{
    /* display: none; */
    background-color: aqua;
    /* opacity: 0; */
    /* visibility: none; */
  }

  .seedFillFormDialog{
    /* display: none; */
    background-color: rgb(49, 90, 90);
    /* opacity: 0; */
    /* visibility: none; */
  }

  #talkBoxDialog{
    display: none;
  }

  #password-container{
    display: none;
  }

  #loginButton{
    display: none;
  }

  #setPasswordButton{
    display: none;
  }
  .p5Canvas{
    width: 100%;
    height: 100%;
    position: relative;
  }

  #back{display:flex;flex-wrap: wrap;width:100%;padding-left:5%;}
.outer{background-color:#0099ff;width:25%;margin:2%;}
.content{background-color:#006bb3;width:100%;}
.content p{color:white;padding:2%;background:#004d80;font-family:arial;}

#flowerStatisticsContainer{
display: block;
}

#flowerStatisticButtons{
  display: none;
}
